body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: #183153;
    font-family: 'Poppins', sans-serif;

}
form{
    padding: 30px 20px;
    border-radius: 10px;
    background-color: aliceblue;
}
h4{
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FAB005;
}
h2 i{
    font-size: 40px;
    color: #ffd43b;
}
#Heading{
    text-align: center;
    margin-top: 20px;
}
input,label,button{
    display: block;
}
button{
    width: 100%;
    height: 45px;
    border: 2px solid black;
    border-radius: 5px;
    border-bottom: 7px solid black;
    background-color: #ffd43b;
    font-weight: 100;

}
h1{
    font-size: 32px;
}
#input1,#input2
{
    position: relative;
}
#input1 .fa-solid{
    position: absolute;
    left: 10px;
    top: 8px;
}
#input2 .fa-solid{
    position: absolute;
    left: 10px;
    top: 8px;

}
#cont{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
#Inputs{
    margin-top: 50px;
}
#Inputs input{
    width: 100%;
    height: 35px;
    margin-top: 6px;
    margin-bottom: 20px;
    border-radius:10px ;
}
#extras{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
#checks{
    display: flex;
}
